<div class="row my-4 pet-pictures">
  <% pet.pictures.each do |picture| %>
    <%= link_to url_for(picture), target: '_blank' do %>
      <%= image_tag url_for(picture), class: 'pet-img-thumbnail' %>
    <% end %>
  <% end %>
</div>
<div class="row my-4">
  <div class="col text-center">
    <label class="bold"><%= t('activerecord.attributes.pet.name') %></label>
    <p class="pet-info">
      <%= pet.safe_name %>
    </p>
    <label class="bold"><%= t('activerecord.attributes.pet.breed') %></label>
    <p class="pet-info">
      <%= pet.safe_breed %>
    </p>
    <label class="bold"><%= t('activerecord.attributes.pet.gender') %></label>
    <p class="pet-info">
      <%= pet.safe_gender %>
    </p>
    <label class="bold"><%= t('activerecord.attributes.pet.description') %></label>
    <p class="pet-info">
      <%= pet.safe_description %>
    </p>
    <label class="bold"><%= t('activerecord.attributes.pet.address') %></label>
    <p class="pet-info">
      <%= pet.address %>
    </p>
    <label class="bold"><%= t('.registered_at') %></label>
    <p class="pet-info">
      <%= l(pet.created_at, format: :long) %>
    </p>
  </div>
</div>
<div class="row my-4">
  <iframe
    class="pet-last-location-map"
    frameborder="0"
    scrolling="no"
    src="https://maps.google.com/maps?q=<%= @pet.latitude %>,<%= @pet.longitude %>&z=16&output=embed">
  </iframe>
</div>
