<img src="<%= pet.picture_url %>" class="card-img-top img-fluid pet-image" alt="<%= t('.pet_picture_alt') %>">
<div class="card-body">
  <h4 class="pet-header text-center">
    <%= pet.safe_breed %>
  </h4>
  <p class="pet-description">
    <%= truncate(pet.safe_description, length: 70) %>
  </p>
</div>
<p class="card-footer pet-registered-at">
  <small class="text-muted">
    <%= t('.registered_at', datetime: l(pet.created_at, format: :short)) %>
  </small>
</p>
