<%= form_for(pet, url: url) do |form| %>
  <%= render 'shared/error_messages', object: pet %>
  <div class="form-group">
    <%= form.text_field :name,
                        autofocus: true,
                        autocomplete: 'on',
                        placeholder: t('activerecord.attributes.pet.name'),
                        class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.number_field :age,
                          placeholder: t('activerecord.attributes.pet.age'),
                          class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.collection_select :breed_id,
                               Breed.sorted_by_name(:asc),
                               :id,
                               :name,
                               { include_blank: t('activerecord.attributes.pet.breed') },
                               { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= form.select :gender,
                    Pet.genders_for_select,
                    { include_blank: t('activerecord.attributes.pet.gender') },
                    { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= form.text_area :description,
                       rows: 5,
                       placeholder: t('activerecord.attributes.pet.description'),
                       class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.file_field :pictures, multiple: true, required: pet.pictures.empty? %>
  </div>
  <div class="form-group">
    <%= form.text_field :address,
                        autocomplete: 'off',
                        required: true,
                        placeholder: t('activerecord.attributes.pet.address'),
                        class: 'form-control' %>
  </div>
  <%= form.hidden_field :latitude %>
  <%= form.hidden_field :longitude %>
  <div id="pet-map"></div>
  <div class="form-group mt-4">
    <%= form.submit t('.submit'), id: 'btn-submit', class: 'btn btn-sm btn-primary btn-block' %>
  </div>
<% end %>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initializeLocationServices"></script>
