<div class="row">
  <div class="col">
    <div class="mt-4 text-center">
      <h4>
        <%= t('.header') %>
      </h4>
      <h6>
        <%= t('.subheader') %><span class="emoji">&#128531;</span>
      </h6>
      <%= link_to new_lost_pet_path, class: 'btn btn-sm btn-primary btn-lost-my-pet mt-3' do %>
        <%= t('.register_new') %>
        <i class="fas fa-heart-broken lost-pet-icon"></i>
      <% end %>
    </div>
    <% @pets.each_slice(3) do |pets| %>
      <div class="card-deck">
        <% pets.each do |pet| %>
          <%= link_to lost_pet_path(pet), class: 'card pet-card' do %>
            <%= render 'shared/pet_card', pet: pet %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
