<div class="row">
  <div class="col">
    <div class="mt-4 text-center">
      <h4>
        <%= t('.header') %>
      </h4>
      <h6>
        <%= t('.subheader') %><span class="emoji">&#128270;</span>
      </h6>
      <%= link_to new_found_pet_path, class: 'btn btn-sm btn-primary btn-found-a-pet mt-3' do %>
        <%= t('.register_new') %><span class="emoji emoji-sm">&#128525;</span>
      <% end %>
    </div>
    <%= form_tag(found_pets_path, method: :get) do %>
      <div class="row mt-4">
        <div class="col-md mt-3 mx-3 mx-md-0">
          <%= select_tag :breed_id,
                         options_for_select(
                             Breed.for_select(pet_situation: :found),
                             selected: params[:breed_id]
                         ),
                         {
                             include_blank: t('activerecord.models.breed.one'),
                             class: 'form-control'
                         } %>
        </div>
        <div class="col-md mt-3 mx-3 mx-md-0">
          <%= select_tag :gender,
                         options_for_select(Pet.genders_for_select, selected: params[:gender]),
                         {
                             include_blank: t('activerecord.attributes.pet.gender'),
                             class: 'form-control'
                         } %>
        </div>
        <div class="col-md mt-3 mx-3 mx-md-0">
          <%= select_tag :address,
                         options_for_select(
                             Pet.address_for_select(situation: :found),
                             selected: params[:address]
                         ),
                         {
                             include_blank: t('.address'),
                             class: 'form-control'
                         } %>
        </div>
      </div>
    <% end %>
    <% @pets.each_slice(3) do |pets| %>
      <div class="card-deck">
        <% pets.each do |pet| %>
          <%= link_to found_pet_path(pet), class: 'card pet-card' do %>
            <%= render 'shared/pet_card', pet: pet %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="text-center">
      <%= paginate @pets %>
    </div>
  </div>
</div>
